@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
  color: #EEFF25;
}

.headerbg1 {
  background: url('./assets/home/chef-service.jpg');

}

.bannner2 {
  background: linear-gradient(0deg, rgba(21, 21, 21, 0.70) 0%, rgba(21, 21, 21, 0.70) 100%), url('./assets/home/featured.jpg') lightgray 50% / cover no-repeat;
background-attachment: fixed;
}

#das .active{
  color: white;
  font-weight: 700;
}

.cc{
  border-radius: 12px;
}

.bgbtn{
  background: linear-gradient(90deg, #835D23 0%, #B58130 100%);
}
/* .ourMenuBanner{
  background: url('./assets/menu/banner3.jpg');
} */